<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$$$$</title>
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>

    <div class="flex-container" id="card-container">
        <% for(let restaurant of restaurants) { %>
            <div class="card" style="width: 30%;">
                <div class="card-divider">
                    <%= restaurant.name %>
                </div>
                <img src="<%= restaurant.picture  %> ">
                <div class="card-section">
                    <h5>
                        <%= restaurant.typeOfFood %>
                    </h5>
                    <p>
                        <%= restaurant.location %>
                    </p>
                    <p>
                        <% for(let review of reviews) { %>
                            <% if (review.restaurantid===restaurant.id) {%>
                                <p>
                                <h6 id="reviewerName">
                                    <%= review.name %>
                                </h6>
                                <%= review.review %>
                    </p>
                    <% } %>
                        <% } %>
                            </p>
                </div>
            </div>
            <% } %>
    </div>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
</body>

</html>